/*===============Propiedades Globales================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Cardo:ital,wght@0,400;0,700;1,400&family=Cookie&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nuosu+SIL&display=swap');

/*
font-family: 'Bree Serif', serif;
font-family: 'Cardo', serif;
font-family: 'Cookie', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Nuosu SIL', serif;*/
html,
body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

body>footer {
    position: sticky;
    top: 100vh;
}

a {
    text-decoration: none;
    color: var(--main-yellow)
}

.container-fluid {
    padding: 7% 10%;
    font-size: 0.95rem;
}

.row {
    justify-content: center;
}

/*===============Variables================*/
:root {
    --main-dark-color: #293040;
    --main-light-color: #FFFFFF;
    --main-blue: #3B475C;
    --main-yellow: #d3ac2b;
}

/*===============Botones================*/
.btn-whatsapp {
    max-width: 320px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    background: var(--main-light-color);
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: var(--main-blue);
    font-size: 1.25em;
    font-weight: bold;
}

.btn-whatsapp:hover {
    background: var(--main-yellow);
    color: #FAFFFA;
}

.btn-yellow {
    padding: 10px 20px;
    width: 100%;
    border-radius: 15px;
    background: var(--main-yellow);
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: var(--main-dark-color);
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
}

.btn-yellow:hover {
    background: #efd991;
    color: var(--main-dark-color);
}

/*===================HEADER==========================*/
.header-contactanos {
    background-color: var(--main-blue);
    font-weight: 200;
    text-transform: uppercase;
    font-size: 0.75rem;
}

/*===================SLIDER DE IMAGENES==========================*/
#logop {
    height: 150px;
}

#mazo {
    margin-top: -100px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between !important;
    text-align: center;
    flex-direction: column;
    background-image: url('../media/fondo_3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#mazo .row {
    margin-top: 50px;
}

#mazo .row .title {
    display: grid;
    text-align: left;
}

.item {
    margin: 1em 0px;
    padding: 1em;
    float: left;
    margin-left: 40px;
}

#mazo h1 {
    color: var(--main-light-color);
    font-size: 3.2rem;
    font-weight: 600;
    font-family: 'Cardo', cursive;
    line-height: 4rem;
    margin-bottom: 50px;
}

#mazo h1 span {
    font-style: italic;
    font-size: 3.4rem;
}

.equipo {
    display: flex;
    justify-content: center;
}

.persona-bg {
    margin-right: 50px;
}

.persona-bg:last-child {
    margin-right: 0;
}

.persona {
    border-radius: 50%;
    border: solid 10px var(--main-light-color);
    background-image: url(./media/richard.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    background-position: center;
}

.botonmoda3 {
    background-image: url(./media/richard.png);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    background-position: center;
}

#quienessomostitulo {
    color: var(--main-yellow);
    font-size: 50px;
    margin-bottom: 40px;
}

#quienessomos {
    font-family: 'Cookie', cursive;
    font-size: 40px;
    margin-bottom: 60px;
}

#botonmodal {
    max-width: 320px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background: var(--main-yellow);
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 1.25em;
    font-weight: bold;
}

#botoncontactanos {
    max-width: 320px;
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background: var(--main-yellow);
    color: black;
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 1.25em;
    font-weight: bold;
}

button {
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(28, 43, 109);
}

button:hover {
    background-color: rgb(28, 43, 109);
}


#contactanos {
    color: rgb(28, 43, 109);
}


#mod {
    border-radius: 50%;
}

#mod1 {
    border-radius: 50%;
}

/*=========================modal================================*/
.modal-fade {
    color: white;
}

.modal-content {
    background-color: white;
}

.modal-title {
    font-size: 50px;
    font-family: 'Bree Serif', serif;
    color: black;
}

.modal-body {
    background-color: rgb(41, 52, 89);
    font-size: 25px;
    font-family: 'Nuosu SIL', serif;
    color: white;
}

.modal-footer {
    background-color: rgb(41, 52, 89);
}

/*=========================ESPECIALIDADES / AREAS DE PRACTICA================================*/
.sec-light {
    min-height: 100vh;
    background-color: var(--main-light-color);
    color: var(--main-blue);
    text-align: center;
    text-align: -webkit-center;
}

#sec-especialidades .titulo h2,
#nuestro-equipo .titulo h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}

#sec-especialidades .titulo h6,
#nuestro-equipo .titulo h6 {
    margin: 20px 0;
    text-align: initial;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.12em;
}

#sec-especialidades .row {
    margin: 26px 0 30px;
}

.especialidad {
    margin-top: 15px;
    padding: 35px 30px 20px;
    border-right: 2px solid var(--main-blue);
}

.especialidad:nth-child(3n),
.especialidad:last-child {
    border: none;
}

.especialidad h3 {
    font-weight: 800;
}

.especialidad ul {
    margin-top: 20px;
    text-align: left;
    font-style: italic;
    font-weight: 300;
    font-size: 0.875rem;
    letter-spacing: 0.12em;
    line-height: 1.5rem;
}

/*=========================SECCION CONTACTANOS (CURVE Y FORM)================================*/
.contact-curve {
    height: 90px;
}

.sec-dark {
    padding: 7% 10%;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    text-align: center;
    text-align: -webkit-center;
}

.sec-dark .row {
    justify-content: space-around
}

.contact-info {
    text-align: left;
    font-size: 0.85rem;
}

.contact-info p i {
    margin-right: 9px;
}

.success-msg-header {
    background-color: var(--main-blue);
}

.success-msg-header .modal-title {
    color: var(--main-light-color);
    font-family: 'Inter';
    font-size: 1.5rem;
    text-transform: uppercase;
}

.success-msg-btn {
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    background: var(--main-light-color);
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: var(--main-blue);
    font-size: 1.25em;
    font-weight: bold;
}

.success-msg-btn:hover {
    background: var(--main-yellow);
    color: #FAFFFA;
}

.success-msg-body {
    background-color: var(--main-light-color);
    color: var(--main-blue);
    font-family: 'Inter';
    font-size: 1.1rem;
    padding: 50px 20px;
}

/*=========================FOOTER================================*/
footer {
    min-height: 120px;
    padding: 1% 10%;
    background-color: var(--main-dark-color);
    color: var(--main-light-color);
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid rgba(185, 185, 185, 0.15);
}

.footer-data,
.footer-socials {
    align-self: center;
}

#estudio-nombre {
    font-weight: 600;
}

.footer-dev {
    font-size: 0.75rem;
}

.footer-dev a:hover {
    color: var(--main-light-color);
    font-size: 0.82rem;
}

.footer-socials {
    padding: 0 20px;
    justify-content: space-between;
    align-items: stretch;
    display: flex;
}

.footer-socials a {
    color: var(--main-light-color);
    font-size: 1.5rem;
}

.footer-socials a:hover {
    color: var(--main-yellow);
    font-size: 1.8rem;
}

@media (max-width:1200px) {
    #mazo {
        margin-top: 0;
    }
}


/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:992px) {
    #mazo {
        height: auto !important;
    }

    #mazo .title {
        margin-top: 150px;
        display: block !important;
        justify-content: center !important;
        text-align: center !important;
    }

    .especialidad {
        border: none;
    }

    .contact-info {
        margin-bottom: 30px;
        text-align: center;
    }

    .btn-yellow {
        width: 80%;
    }
}

/*=========================MEDIA QUERIES PANTALLA SM================================*/

@media (max-width:768px) {
    .contact-curve {
        top: -100px;
    }

    .especialidad {
        margin-top: 15px;
        padding: 35px 10px 20px;
        border: none;
    }
}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    .contact-curve {
        top: -50px;
    }
}

@media (max-width: 420px) {
    .contact-curve {
        position: relative;
        top: 15px;
    }
}

#nuestro-equipo .container {
    padding: 50px 12px;
}

#nuestro-equipo .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}