/*===============Propiedades Globales================*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.container-fluid {
    padding: 7% 10%;
    font-size: 0.95rem;
}

.row {
    justify-content: center;
}

/*===============Variables================*/
:root {
    --main-dark-color: #293040;
    --main-light-color: #FFFFFF;
    --main-blue: #3B475C;
    --main-yellow: #d3ac2b;
  }

/*===============Botones================*/

.btn-whatsapp {
    width: 300px;
    height: 50px;
    border-radius: 15px;
    background: #FAFFFA;
    color: var(--main-blue);
    font-size: 1.25em;
    font-weight: bold;
}

.btn-whatsapp:hover {
    background: var(--main-yellow);
    color: #FAFFFA;
}

/*===================MENU==========================*/

 #menu a, button{
    font-size: 18px !important;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
 }

 #menu a{
     color:#3f3f3f;
     
 }
/*===================SLIDER DE IMAGENES==========================*/

#mazo{
    background-image : url('../media/mazo-judicial.jpg');
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-position: center center;
}

#mazo h1{
    color: rgb(30, 6, 238);
}

#mazo button{
    font-size: 1.75em;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(28, 43, 109);
}

button:hover{
    background-color: rgb(28, 43, 109);
}

#whats{
    background-color: rgb(214, 216, 228);
    color: rgb(28, 43, 109);
}
#contactanos{
    color: rgb(28, 43, 109);
}
/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:15%;
}


/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 300px; 
}

.mapa {
    
    width:100%;
    height:500px;
}


.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}

/*=========================AREAS DE PRACTICA================================*/
.sec-blue {
    min-height: 100vh;
    background-color: var(--main-blue);
    color: var(--main-light-color);
    text-align: center;
    font-family: 'Inter';
}

#areas-de-practica .titulo h2 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}

#areas-de-practica .titulo h6 {
    margin: 20px 0;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.12em;
}

#areas-de-practica .row {
    margin-top: 40px;
}

.especialidad  {
    margin-top: 50px;
}

.especialidad h3 {

}

.especialidad p {
    text-align: left;
    font-style: italic;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
       
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}
#nuestros-programas{
    background-color: rgb(28, 43, 109);
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 50px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/balanza.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/balanza.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/python.jpg");

}

